<ion-view view-title="关于衣街" hide-tabs=true>
	<!-- <ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-back" ui-sref="tab.me" style='padding-top: 5px;'>
		</button>	

	</ion-nav-buttons> -->
	<ion-content has-subheader="false">
		<div class="mui-content message-detail">
			<div class="mui-text-center">
				<h4>关于衣街</h4>
				<!--<p>2015/11/11 10:20:20</p>-->
			</div>
			<p>衣街，是一个垂直于传统服装业的“互联网+”服务平台。</p>
			<p>衣街提供如下服务：</p>
			<p>
				<ul>
					<li>面向本地门店的线上促销服务</li>
					<p>线下实体店可以在衣街上发布促销活动（如多件打折、优惠券等），方便商家对促销进行统一管理，调整促销策略，提高销售量。</p>
					<li>面向顾客的约买服务</li>
					<p>为顾客提供线上约，线下买的O2O服务，既追求品牌，又享受折扣。顾客可以实时关注商家动态，加入感兴趣的促销活动。</p>
					<li>为顾客提供个性化推荐服务</li>
					<p>平台会根据顾客的相关活动记录（如搜索记录，购买记录，行为记录等相关统计数据）来进行个性化服装推荐和本地门店推荐。</p>
					<li>为本地门店提供数据统计分析服务</li>
					<p>平台可以帮助商家对顾客进行个性化分析，如同城片区的顾客数量、人群分布等数据分析，帮助商家进行个性化的推广和营销。</p>
				</ul>
				<p>衣街的目标是整合传统服装店资源，提高人们的购衣质量，更快更好地买到更合适的衣服！</p>

			</p>
		</div>
	</ion-content>
</ion-view>	