<ion-view view-title="我的约买" hide-back-button='true' hide-tabs=true >
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-android-arrow-back" ui-sref="tab.me" style='padding-top: 5px;'></button>
	</ion-nav-buttons>
	<ion-content has-subheader="false">
		<ion-list>
			<ion-item ng-repeat="pair in cobuy_promo_pairs" class="list card">

				<div class="item" style="min-height:40px;">
					<span>{{pair.promo.title}}</span>
					<a ng-click="pageToPromoDetails({{pair.promo.id}})" style='float: right;font-size: 14px;'>查看促销></a>
				</div>

				<div class="item item-body" style="background-color:#f8f8f8;">
					<!-- <img class="full-image" src="{{promo.image}}"> -->
					
					<p style=" font-size: 15px;color: #ff464e;">{{pair.promo.description}}</p>

					<!-- <button class="button button-small button-assertive icon-right ion-chevron-right" style="float: right;" ng-click="pageToPromoDetails(promo.id)">了解详情</button> -->
					<p>满件数：{{pair.cobuy.promotion_count}}</p>
					<p>促销结束时间：{{pair.cobuy.end_time}}</p>
					<p>约定时间：{{pair.cobuy.min_time}} 至 {{pair.cobuy.max_time}}</p>
					<p>匹配是否完成: <span ng-show="{{pair.cobuy.is_match_completed == true}}">是</span>
					<span ng-show="{{pair.cobuy.is_match_completed == false}}">否</span></p>
					<p class="text-address">地址：黄兴南路步行商业街1F优衣库</p>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>