<ion-view view-title="通知" hide-tabs=true>
	<!-- <ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-back" ui-sref="tab.me" style='padding-top: 5px;'></button>	
	</ion-nav-buttons> -->

	<ion-content has-subheader="false">
		<div class="mui-content">
			<ul class="mui-table-view store-list message-list">
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeList1">
						<p class="img-left"><img src="images/icon-message1.png" alt="" /></p>
						<div class="caption">
							<h4>消息提醒</h4>
							<p>网站维护敬请谅解！</p>
						</div>
						<span class="mui-badge mui-badge-danger">3</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeList2">
						<p class="img-left"><img src="images/icon-message2.png" alt="" /></p>
						<div class="caption">
							<h4>最新折扣</h4>
							<p>浦东南路最新入驻耐克旗舰店7折优惠</p>
						</div>
						<span class="mui-badge mui-badge-danger">3</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeList3">
						<p class="img-left"><img src="images/icon-message3.png" alt="" /></p>
						<div class="caption">
							<h4>商品提醒</h4>
							<p>您关注的耐克旗舰店正在进行五折活动</p>
						</div>
						<span class="mui-badge mui-badge-danger">3</span>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>	




