<ion-view view-title='商品提醒'>

	<ion-content has-subheader="false">
		<div class="mui-content">
			<ul class="mui-table-view store-list message-list">
				<li class="mui-table-view-cell">
					<a ui-sref="noticeDetails">
						<p class="img-left"><img src="images/icon-message3.png" alt="" /></p>
						<div class="caption">
							<h4>商品提醒</h4>
							<p>您关注的耐克旗舰店正在进行五折活动</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="noticeDetails">
						<p class="img-left"><img src="images/icon-message3.png" alt="" /></p>
						<div class="caption">
							<h4>商品提醒</h4>
							<p>您关注的耐克旗舰店正在进行五折活动</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="noticeDetails">
						<p class="img-left"><img src="images/icon-message3.png" alt="" /></p>
						<div class="caption">
							<h4>商品提醒</h4>
							<p>您关注的耐克旗舰店正在进行五折活动</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>