<ion-view view-title="衣街">
	<ion-content>
			<!--End-slider-->
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

			<!--start-bannner-->	
			<div class="banner">
				<div class="flexslider">
					<ul class="slides">
						<li><img alt="banner" src="images/banner_1.jpg" /></li>
						<li><img alt="banner" src="images/banner_2.jpg" /></li>
						<li><img alt="banner" src="images/banner_3.jpg" /></li>
						<li><img alt="banner" src="images/banner_4.jpg" /></li>
					</ul>
				</div>
			</div>		
			
			<ion-list class="store-list" >
				<ion-item ng-repeat="promo in promotions">
					<div class="item-avatar" style="min-height:40px;">
						<img src="images/logo_uniqlo.jpg">
						<span>优衣库夏季裙装专场</span>
						<p style="font-size: 12px;color: #bbb;">2016-07-02 14:28:45</p>
					</div>

					<div class="item-body">
						<img class="full-image" src="images/578ee59f151ad1827b8b4582_800x800.jpg">
						
						<p style=" font-size: 15px;color: #ff464e;width:70%;">
							全场裙装满2件8折，满3件7折</span>	
						</p>
						<button class="button button-small button-assertive icon-right ion-chevron-right" style="float: right;" ng-click="promoDetails(promo.id)">去约买</button>
						
						<!--{{promo.title}} -->
						<!-- <p>{{promo.description}}</p> -->
						<p>促销时间：2016-07-03 至 2016-07-31</p>
						<p class="text-address">地址：黄兴南路步行商业街1F优衣库</p>
					</div>		
				</ion-item>
			</ion-list>



			<ion-infinite-scroll   
				ng-if="morePromoCanBeLoaded()"
  				icon="ion-loading-c"
  				on-infinite="loadMorePromotions()" 
  				distance="1%">
  			</ion-infinite-scroll>
		</ion-content>

	</ion-view>
