<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
    <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home">
        <ion-nav-view animation="slide-left-right" name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="约聊" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" ui-sref="tab.chat">
        <ion-nav-view animation="slide-left-right" name="tab-chat"></ion-nav-view>
    </ion-tab> 
    <ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tab.me">
        <ion-nav-view animation="slide-left-right" name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>
