<ion-view view-title="我的评价">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-back" ui-sref="tab.me" style='padding-top: 5px;'>
		</button>	

	</ion-nav-buttons>
	<ion-content has-subheader="false">
	
		<div class="mui-content">
			<ul class="mui-table-view store-list comment-list">
				<li class="mui-table-view-cell">
					<a href="details.html">
						<p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
						<div class="caption">
							<h4>耐克旗舰店</h4>
							<p>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star icon-star-half"></i>
								<i class="icon-star icon-star-gray"></i>
								<span>3.4分</span>
							</p>
							<p>地址：杨浦区政德东路53号</p>
						</div>
						<p>评价：衣服很正，东西很棒。门店信息展示很充足哦！而且给我提供很多的方便！</p>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="details.html">
						<p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
						<div class="caption">
							<h4>耐克旗舰店</h4>
							<p>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star icon-star-half"></i>
								<i class="icon-star icon-star-gray"></i>
								<span>3.4分</span>
							</p>
							<p>地址：杨浦区政德东路53号</p>
						</div>
						<p>评价：衣服很正，东西很棒。门店信息展示很充足哦！而且给我提供很多的方便！</p>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
						<div class="caption">
							<h4>耐克旗舰店</h4>
							<p>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star icon-star-half"></i>
								<i class="icon-star icon-star-gray"></i>
								<span>3.4分</span>
							</p>
							<p>地址：杨浦区政德东路53号</p>
						</div>
						<p>评价：衣服很正，东西很棒。门店信息展示很充足哦！而且给我提供很多的方便！</p>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>	
