<ion-view view-title="五一约买">
	<ion-header-bar align-title="center" class="bar-assertive">
		<header class="mui-bar mui-bar-nav">
			<button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.chat" style='padding-top: 5px;'>
			</button>
			<h1 class="mui-center mui-title">五一约买</h1>
		</header>
	</ion-header-bar>

	<ion-content has-subheader="false">
		<div class="mui-content">
			<div>
				<div data-page="message" class="page no-toolbar toolbar-fixed page-on-center">
					
					<div class="page-content messages-content">
						<div class="messages messages-auto-layout"> <div class="messages-date">Sunday, Feb 9, 12:58</div> 
						<div class="message message-sent message-last">
							<div class="message-text">你好！</div></div>   
							<div class="message message-sent message-last"><div class="message-text">等下在哪见？</div></div>   
							<div class="message message-received message-last"><div class="message-text">恩，直接去南门口吧～</div></div>   
							<div class="message message-sent message-last"><div class="message-text">好的！</div></div>  
							<div class="messages-date">Wednesday, Feb 12, 19:33</div> 
							<div class="message message-sent message-last"><div class="message-text">先一起吃个饭吧</div></div>  
							<div class="messages-date">Thursday, Feb 13, 11:20</div> 
							<div class="message message-received message-last"><div class="message-text">就买件衣服，不吃了</div></div>   
							<div class="message message-sent message-last"><div class="message-text">:(</div></div>   
						</div>
						<div class="toolbar toolbar-hidden">
							<form class="ks-messages-form">
								<div class="toolbar-inner">
									<input type="text" placeholder="Message" class="ks-messages-input"></input>
									<a href="#" class="link ks-send-message">Send</a>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>