<ion-view view-title='最新折扣'>
		<ion-nav-bar class="bar-assertive" align-title="center">
		<ion-nav-back-button class="button button-icon icon ion-arrow-left-c"></ion-nav-back-button>
		<h1 class="mui-center mui-title">最新折扣</h1>
	</ion-nav-bar>

	<ion-content has-subheader="false">
		<div class="mui-content">
			<ul class="mui-table-view store-list message-list">
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeDetails">
						<p class="img-left"><img src="images/icon-message2.png" alt="" /></p>
						<div class="caption">
							<h4>最新折扣</h4>
							<p>浦东南路最新入驻耐克旗舰店7折优惠</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeDetails">
						<p class="img-left"><img src="images/icon-message2.png" alt="" /></p>
						<div class="caption">
							<h4>最新折扣</h4>
							<p>浦东南路最新入驻耐克旗舰店7折优惠</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a ui-sref="tab.noticeDetails">
						<p class="img-left"><img src="images/icon-message2.png" alt="" /></p>
						<div class="caption">
							<h4>最新折扣</h4>
							<p>浦东南路最新入驻耐克旗舰店7折优惠</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>