<ion-view view-title="约聊">
	<ion-header-bar align-title="center" class="bar-assertive">
		<div class="h1 title">约聊</div>
	</ion-header-bar>


	<ion-content>
		<div class="mui-content">
			<div>
				<div class="page-content">
					<div class="list-block">
						<div class="list-group">
							<ul> 

								<li >
									<a ui-sref='tab.chatMessage'>
										<div class="item-content">
											<div class="item-media">
												<img src="./images/saved_resource" width="44" />
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">
														五一约买
													</div>
												</div>
												<div class="item-subtitle">
													London
												</div>
											</div>
										</div>
									</a>
								</li> 
								<li >
									<a ui-sref='tab.chatMessage'>
										<div class="item-content">
											<div class="item-media">
												<img src="./images/saved_resource(3)" width="44" />
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">
														五四青年节约买
													</div>
												</div>
												<div class="item-subtitle">
													Moscow
												</div>
											</div>
										</div>
									</a>
								</li> 
								<li >
									<a ui-sref='tab.chatMessage'>
										<div class="item-content">
											<div class="item-media">
												<img src="./images/saved_resource(2)" width="44" />
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">
														特步店庆约买
													</div>
												</div>
												<div class="item-subtitle">
													Kiev
												</div>
											</div>
										</div>
									</a>
								</li> 
								<li >
									<a ui-sref='tab.chatMessage'>
										<div class="item-content">
											<div class="item-media">
												<img src="./images/saved_resource(1)" width="44" />
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">
														耐克五周年约买
													</div>
												</div>
												<div class="item-subtitle">
													Kiev
												</div>
											</div>
										</div>
									</a>
								</li> 

								<li >
									<a ui-sref='tab.chatMessage'>
										<div class="item-content">
											<div class="item-media">
												<img src="./images/saved_resource(6)" width="44" />
											</div>
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title">
														毕业季约买
													</div>
												</div>
												<div class="item-subtitle">
													Kiev
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
	</ion-content>
</ion-view>