<ion-view view-title="我的专属推荐">

    <ion-content has-subheader="false">
        <div class="mui-content">
            <div>
                <div id="item1" class="mui-control-content mui-active">
                    <ul class="mui-table-view store-list">
                        <li class="mui-table-view-cell">
                            <a href="details.html" class="mui-navigate-right">
                                <p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
                                <div class="caption">
                                    <h4>耐克旗舰店</h4>
                                    <p><span>折</span>全场75折优惠</p>
                                    <p><span class="orang-bg">减</span>满300减20 满800减200</p>
                                    <p><span class="yellow-bg">新</span>新品上线</p>
                                </div>
                                <p class="text-address">地址：杨浦区政德东路53号<span>< 100米</span></p>
                            </a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a href="details.html" class="mui-navigate-right">
                                <p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
                                <div class="caption">
                                    <h4>耐克旗舰店</h4>
                                    <p><span>折</span>全场75折优惠</p>
                                    <p><span class="orang-bg">减</span>满300减20 满800减200</p>
                                    <p><span class="yellow-bg">新</span>新品上线</p>
                                </div>
                                <p class="text-address">地址：杨浦区政德东路53号<span>< 100米</span></p>
                            </a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a href="details.html" class="mui-navigate-right">
                                <p class="img-left"><img src="images/index-left.jpg" alt="" /></p>
                                <div class="caption">
                                    <h4>耐克旗舰店</h4>
                                    <p><span>折</span>全场75折优惠</p>
                                    <p><span class="orang-bg">减</span>满300减20 满800减200</p>
                                    <p><span class="yellow-bg">新</span>新品上线</p>
                                </div>
                                <p class="text-address">地址：杨浦区政德东路53号<span>< 100米</span></p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view> 
